$primaryColor:#2766b1;
$primaryColorHover: #2a54ab;
$primaryTextColor:#ffffff;
$menuBgColor: #1b2f42;
$dialogBgColor: #234457;
$menuitemTextColor:#9fadb7;
$submenuActiveBgColor:#151f2a;
$menuItemHoverTextColor:#39a3f4;
$menuItemActiveTextColor: #276291;

$bodyBgColor: #234457;
$panelsColor: #1f2534;
$matTable:  #1f2534;
$textColor:#d8d8d8;
$textSecondaryColor:#acacac;
$placeholderColor:#6c6c6c;
$dividerColor:#121213;


@import '../layout';
