$primaryColor: #2766b1;
$primaryColorHover: #245691;
$primaryTextColor:#ffffff;
$menuBgColor:#d6dee8;
$dialogBgColor:#ffffff;
$menuitemTextColor: #4e4d4d;
$submenuActiveBgColor: #c0c8d0;
$menuItemHoverTextColor:#3366cc;
$menuItemActiveTextColor:#3366cc;

$bodyBgColor:#EEF2F6;
$panelsColor: #ffffff;
$matTable: #e9ecf3;
$textColor:#424242;
$textSecondaryColor:#7a7a7a;
$placeholderColor:#a0a0a0;
$dividerColor:#dddddd;

@import '../layout';
